# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Hassas bilgiler
.env

# Çıktılar
results/
*.log

# Cache
cache/
*.cache